header{
	background-color: #009688;
}
footer{
	background-color: #009688 ;
	display:flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
body {
  margin: 0;
}
#app{
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 6em;
	font-weight: bold;
	font-family: Trebuchet MS;
	margin-top: -0.5%;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #FFC107;
}
#rubrique1{
	margin-left: 1%;
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
}
#rubrique2{
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
}
.mail{
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
	font-weight: bold;
	padding-top: 1%;
	margin-left: 1%;
	padding-bottom: 7%;
}
aside{
	background-color: #009688;

}
.mentionLegal{
	margin-left: 1%;
	width: 12%;
}
.contact{
	width: 12%;
}

a{
	 text-decoration:none;
	 color: black;
}

@media screen and (min-width: 320px) and (max-width: 420px){
	#app{
		font-size: 3em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 45%;
	}
	#rubrique1{
		font-size: 1.3em;
	}
	#rubrique2{
		font-size: 1.3em;
	}
	.contact{
		width: 42%;
	}
}
@media screen and (min-width: 420px) and (max-width: 620px){
	#app{
		font-size: 3.6em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 38%;
	}
	.contact{
		width: 37%;
	}
}
@media screen and (min-width: 620px) and (max-width: 920px){
	#app{
		font-size: 3.6em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 30%;
	}
	.contact{
		width: 28%;
	}
}

@media screen and (min-width: 920px) and (max-width: 1024px){
	#app{
		font-size: 4.9em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 20%;
	}
	.contact{
		width: 18%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px){
	#app{
		font-size: 4.9em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 24%;
	}
	.contact{
		width: 18%;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1440px){
	#app{
		font-size: 4.9em;
	}
	
	.mentionLegal{
		margin-left: 2%;
		width: 24%;
	}
	.contact{
		width: 18%;
	}
}