.load__point {
  display: block;
  color: #FFC107;
  font-size: 1em;
  animation: point 1800ms infinite;
}
.load__point--1 {
  animation-delay: 600ms;
}
.load__point--2 {
  animation-delay: 1200ms;
}
.load__point--3 {
  animation-delay: 1800ms;
}

.categorie:hover + .tiret > .tiret--1 {
  animation: souligne 800ms;
  transform-origin: 0% 50%;
  color: black;
}
.categorie:hover + .tiret > .tiret--2 {
  animation: souligne 800ms;
  transform-origin: 100% 50%;
  color: black;
}

#rubrique1 {
  animation: wiggle 3s infinite;
}

#rubrique2 {
  animation: wiggle 3s infinite;
}

#titre1 {
  animation: zoom 3500ms infinite;
}

#titre2 {
  animation: zoom 3500ms infinite;
}

#titre3 {
  animation: zoom 3500ms infinite;
}

#titre4 {
  animation: zoom 3500ms infinite;
}

#titre5 {
  animation: zoom 3500ms infinite;
}

#titre6 {
  animation: zoom 3500ms infinite;
}

#titre7 {
  animation: zoom 3500ms infinite;
}

#titre8 {
  animation: zoom 3500ms infinite;
}

#titre9 {
  animation: zoom 3500ms infinite;
}

@keyframes point {
  0% {
    transform: scale(1);
  }
  50% {
    transform: translate(0px, -22px) scale(1.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-10deg);
  }
  4% {
    transform: rotate(10deg);
  }
  5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes souligne {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}