$anim-dur: 1500ms;
$anim-delay: $anim-dur / 3;

.load {
  display: flex;
  margin-top: -8.5%;
  &__point{
    color: #FFC107;
	  font-size: 8em;
	  height: 70%;
    animation: point $anim-dur infinite ;
    @for $i from 1 through 3 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
    }
  }
}

.categorie{
	&:hover {
        & > .categorie:before {
            animation: souligne 1000ms;
        }
    }
}

#rubrique1{
	animation: wiggle 3s infinite;
}

#rubrique2{
	animation: wiggle 3s infinite;
}

@keyframes point{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes wiggle{
  0%{
    transform: rotate(0deg);
  }
  3%{
    transform:rotate(-10deg);
  }
  4%{
    transform: rotate(10deg);
  }
  5%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes souligne{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}