header{
	background-color: #009688;
}
footer{
	background-color: #009688 ;
	display:flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
body {
  margin: 0;
}
@font-face {
	font-family: 'Redressed';
	src: url('Redressed.ttf') format('truetype');
}
@font-face {
	font-family: 'Kalam';
	src: url('Kalam-Regular.ttf') format('truetype');
}
#app{
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 6em;
	font-weight: bold;
	font-family: Trebuchet MS;
	margin-top: -0.5%;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #FFC107;
}
.section{
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: #009688;
	color: #FFC107;
	font-size: 2em;
	font-family: Trebuchet MS;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 10px;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	margin-bottom: 4%;
}
#rubrique1{
	margin-left: 1%;
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
}
#rubrique2{
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
}
.titreMenu{
	display:flex;
	justify-content: center;
	align-content: center;
	font-size: 2em;
	margin-top: -3%;
	font-family: Trebuchet MS;
	font-weight: bold;
	color: #263238;
}
#menu1{
	background-color: #fcdfdb;
	margin-left: 12.8%;
	margin-right: 14%;
	margin-bottom: 8%;
	box-shadow: 0px 0px 20px #BDBDBD;
}
#titre1{
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 8%;
	background: -webkit-linear-gradient(left,#f05361, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#titre2{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: -0.3%;
	font-size: 3em;
	font-family: 'Redressed';
	color:#3E2723;
	font-weight: bold;
}
.categorie{
	display:flex;
	justify-content: center;
	align-content: center;
	font-size: 1.7em;
	margin-top: 8%;
	font-weight: bold;
	font-family: 'Kalam';
	color:#3E2723;
}
.tiret{
  display: flex;
  justify-content: space-around;
}
.tiret--1{
  margin-top: -6.5%;
  font-size: 3em;
}
.tiret--2{
  margin-top: -6.5%;
  font-size: 3em;
}
.plat{
	margin-left: 10%;
	font-size: 1.3em;
	font-family: 'Kalam';
	color:#3E2723;
}
.choix{
	display: flex;
	justify-content: space-between;
}
.prix{
	margin-right: 10%;
	font-size: 1.3em;
	font-family: 'Kalam';
	color:#3E2723;
}
#titrefin{
	display:flex;
	justify-content: center;
	align-content: center;
	font-size: 2em;
	padding-top: 5%;
	padding-bottom: 10%;
	color:#3E2723;
}
.mentionLegal{
	margin-left: 1%;
	width: 12%;
}
.contact{
	width: 12%;
}

a{
	 text-decoration:none;
	 color: black;
}
@media screen and (min-width: 320px) and (max-width: 420px){
	#app{
		font-size: 3em;
	}
	#menu1{
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 25%;
		margin-top: 3%;
	}
	.titreMenu{
		margin-top: -10%;
	}
	#titre1{
		display: flex;
		justify-content: center;
		align-content: center;
		padding-top: 8%;
	}
	#titre2{
		margin-top: -0.3%;
		font-size: 2em;
	}
	.categorie{
		font-size: 1.6em;
		margin-top: 8%;
	}
	.tiret--1{
	  margin-top: -15.5%;
	  font-size: 1em;
	}
	.tiret--2{
		margin-left: 30%;
	  margin-top: -15.5%;
	  font-size: 1em;
	}
	.plat{
		margin-left: 10%;
		font-size: 1.3em;
		font-family: 'Kalam';
		color:#3E2723;
	}
	.prix{
		margin-right: 10%;
		font-size: 1.3em;
		font-family: 'Kalam';
		color:#3E2723;
	}
	#rubrique1{
		font-size: 1.2em;
	}
	#rubrique2{
		font-size: 1.2em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 40%;
	}
	.contact{
		width: 38%;
	}
}
@media screen and (min-width: 420px) and (max-width: 620px){
	#app{
		font-size: 4em;
	}
	#menu1{
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 25%;
		margin-top: 3%;
	}
	#titre1{
		display: flex;
		justify-content: center;
		align-content: center;
		padding-top: 8%;
	}
	#titre2{
		display: flex;
		justify-content: center;
		align-content: center;
		margin-top: -0.3%;
		font-size: 2.3em;
		font-family: 'Redressed';
		color:#3E2723;
	}
	.categorie{
		display:flex;
		justify-content: center;
		align-content: center;
		font-size: 1.6em;
		margin-top: 8%;
		font-weight: bold;
		font-family: 'Kalam';
		color:#3E2723;
	}
	.tiret--1{
	  margin-top: -11.5%;
	  font-size: 1.1em;
	}
	.tiret--2{
		margin-left: 32%;
	  margin-top: -11.5%;
	  font-size: 1.1em;
	}
	.plat{
		margin-left: 10%;
		font-size: 1.3em;
		font-family: 'Kalam';
		color:#3E2723;
	}
	.prix{
		margin-right: 10%;
		font-size: 1.3em;
		font-family: 'Kalam';
		color:#3E2723;
	}
	#rubrique1{
		font-size: 1.3em;
	}
	#rubrique2{
		font-size: 1.3em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 34%;
	}
	.contact{
		width: 32%;
	}
}
@media screen and (min-width: 620px) and (max-width: 920px){
	#menu1{
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 20%;
		margin-top: 3%;
	}
	.titreMenu{
		margin-top: -7%;
	}
	#titre2{
		margin-top: -0.3%;
		font-size: 2.8em;
	}
	.categorie{
		font-size: 1.6em;
	}
	.tiret--1{
	  margin-top: -7.5%;
	  font-size: 1.1em;
	}
	.tiret--2{
	  margin-top: -7.5%;
	  font-size: 1.1em;
	}
	.plat{
		margin-left: 10%;
		font-size: 1.3em;
		font-family: 'Kalam';
		color:#3E2723;
	}
	.prix{
		margin-right: 10%;
		font-size: 1.3em;
		font-family: 'Kalam';
		color:#3E2723;
	}
	#rubrique1{
		font-size: 1.4em;
	}
	#rubrique2{
		font-size: 1.4em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 30%;
	}
	.contact{
		width: 26%;
	}
}

@media screen and (min-width: 920px) and (max-width: 1024px){
	#app{
		font-size: 4.9em;
	}
	#menu1{
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 20%;
		margin-top: 3%;
	}
	.titreMenu{
		margin-top: -6%;
		font-size: 3em;
	}
	#titre{
		margin-top: -0.3%;
		font-size: 4.4em;
		padding-top: 8%;
	}
	.categorie{
		font-size: 1.9em;
	}
	.tiret--1{
	  margin-top: -6.5%;
	  font-size: 1.5em;
	}
	.tiret--2{
	  margin-top: -6.5%;
	  font-size: 1.5em;
	}
	.plat{
		margin-left: 10%;
		font-size: 1.4em;
	}
	.prix{
		margin-right: 10%;
		font-size: 1.3em;
	}
	#rubrique1{
		font-size: 1.5em;
	}
	#rubrique2{
		font-size: 1.5em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 20%;
	}
	.contact{
		width: 20%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px){
	#app{
		font-size: 4.9em;
	}
	#menu1{
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 15%;
		margin-top: 3%;
	}
	.titreMenu{
		margin-top: -6%;
		font-size: 3em;
	}
	#titre2{
		margin-top: -0.3%;
		font-size: 4.5em;
	}
	.categorie{
		font-size: 1.9em;
	}
	.tiret--1{
	  margin-top: -6.5%;
	  font-size: 1.9em;
	}
	.tiret--2{
	  margin-top: -6.5%;
	  font-size: 1.9em;
	}
	.plat{
		margin-left: 10%;
		font-size: 1.4em;
	}
	.prix{
		margin-right: 10%;
		font-size: 1.3em;
	}
	#rubrique1{
		font-size: 1.5em;
	}
	#rubrique2{
		font-size: 1.5em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 24%;
	}
	.contact{
		width: 18%;
	}
	
}
@media screen and (min-width: 1280px) and (max-width: 1440px){
	#app{
		font-size: 4.9em;
	}
	#menu1{
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 15%;
		margin-top: 3%;
	}
	.titreMenu{
		margin-top: -6%;
		font-size: 3em;
	}
	#titre2{
		margin-top: -0.3%;
		font-size: 4.2em;
	}
	.categorie{
		font-size: 2.5em;
	}
	.tiret--1{
	  margin-top: -6.5%;
	  font-size: 1.7em;
	}
	.tiret--2{
	  margin-top: -6.5%;
	  font-size: 1.7em;
	}
	.plat{
		margin-left: 10%;
		font-size: 1.9em;
	}
	#rubrique1{
		font-size: 1.5em;
	}
	#rubrique2{
		font-size: 1.5em;
	}
	.mentionLegal{
		margin-left: 2%;
		width: 24%;
	}
	.contact{
		width: 18%;
	}
}