@font-face {
	font-family: 'Kaushan Script';
	src: url('KaushanScript-Regular.otf') format('truetype'),
		 url('KaushanScript-Regular.otf') format('otf');
}
@font-face {
	font-family: 'Great Vibes';
	src: url('GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Kurale';
	src: url('Kurale-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Redressed';
	src: url('Redressed.ttf') format('truetype');
}
@font-face {
	font-family: 'Kalam';
	src: url('Kalam-Regular.ttf') format('truetype');
}

header{
	background-color: #009688;
}
footer{
	background-color: #009688 ;
	display:flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
body {
  margin: 0;
}
#app{
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 6em;
	font-weight: bold;
	font-family: Trebuchet MS;
	margin-top: -0.5%;
	padding-bottom: 2%;
	padding-top: 2%;
	color: #FFC107;
}
.menu{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 5%;
}
#menu1{
	background-color: #fcdfdb;
	width: 38%;
	margin-left: 10%;
	margin-bottom: 4%;
	box-shadow: 0px 0px 20px #BDBDBD;
}
#menu2{
	background-color: #fff5fe;
	width: 38%;
	margin-left: 4%;
	margin-bottom: 4%;
	box-shadow: 0px 0px 20px #BDBDBD;
}
#menu3{
	background-color: #f9f9f9;
	width: 38%;
	margin-left: 10%;
	box-shadow: 0px 0px 20px #BDBDBD;
}
#menu4{
	background-color: #fdfffd;
	width: 38%;
	margin-left: 4%;
	box-shadow: 0px 0px 20px #BDBDBD;
}

#titre1{
	margin-left: 40%;
	padding-top: 50%;
	background: -webkit-linear-gradient(left,#f05361, #f6916a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#titre2{
	margin: auto;
	margin-bottom: 10%;
	width: fit-content;
	font-size: 2.6em;
	color: #3E2723;
	font-family: 'Redressed';
	font-weight: bold;
}
#titre3{
	width: fit-content;
	margin: auto;
	padding-bottom: 43%;
	font-family: 'Kalam';
	font-size: 5em;
	font-style: italic;
	color: #3E2723;
	font-weight: bold;
}

#titre4{
	padding-top: 57%;
	font-size: 2.7em;
	font-weight: bold;
	margin: auto;
	width: fit-content;
	font-family: 'Kurale';
	background: -webkit-linear-gradient(45deg,#e38910, #8f5aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5%;
}
#titre5{
	margin: auto;
	width: fit-content;
	font-family: Times New Roman;
	font-size: 5em;
	font-weight: bold;
	color: #bf360c;
	padding-bottom: 55%;
}
#titre6{
	width: fit-content;
	margin: auto;
	font-size: 4em;
	background: -webkit-linear-gradient(left,#0633df, #8bc5fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-family: 'Great Vibes';
	padding-top: 57%;
	margin-bottom: 7%;
}
#titre7{
	width: fit-content;
	margin: auto;
	font-family: 'Kalam';
	font-size: 4em;
	color: #108bfb;
	padding-bottom: 55%;
}
#titre8{
	width: fit-content;
	margin: auto;
	font-size: 3em;
	background: -webkit-linear-gradient(left,#55a646, #d1fea4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-family: 'Kaushan Script';
	padding-top: 57%;
	margin-bottom: 7%;
}
#titre9{
	width: fit-content;
	margin: auto;
	font-size: 4em;
	color:#73bf57;
	font-family: 'Kalam';
	padding-bottom: 55%;
}
section{
	display: flex;
}
.next{
	width: fit-content;
	background-color: #009688;
	color: #FFC107;
	font-size: 3em;
	font-family: Trebuchet MS;
	margin-left: 36%;
	margin-bottom: 10%;
	border-radius: 10px;
	padding: 1% 4% 1% 4%;
}
#rubrique1{
	margin-left: 1%;
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
}
#rubrique2{
	margin-right: 1%;
	color: #FFC107;
	font-size: 1.5em;
	font-family: Trebuchet MS;
}
a{
	 text-decoration:none;
	 color: black;
}

@media screen and (min-width: 320px) and (max-width: 420px){
	#app{
		font-size: 2.7em;
	}
	.menu{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 7%;
	}
	#menu1{
		background-color: #fcdfdb;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu2{
		background-color: #fff5fe;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu3{
		background-color: #f9f9f9;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu4{
		background-color: #fdfffd;
		width: 80%;
		margin-left: 10%;
	}
	#titre1{
		margin-left: 36%;
		padding-top: 50%;
	}
	#titre2{
		margin-bottom: 9%;
		font-size: 1.7em;
	}
	#titre3{
		padding-bottom: 43%;
		font-size: 3.2em;
	}
	#titre4{
		padding-top: 57%;
		font-size: 1.7em;
		margin-bottom: 9%;
	}
	#titre5{
		font-size: 2.8em;
		padding-bottom: 55%;
	}
	#titre6{
		font-size: 2.5em;
		font-family: 'Great Vibes';
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre7{
		font-size: 2.7em;
		padding-bottom: 55%;
	}
	#titre8{
		font-size: 2.1em;
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre9{
		font-size: 2.8em;
		padding-bottom: 55%;
	}
	.load__point{
		font-size: 2em;
	}
	.next{
		width: fit-content;
		background-color: #009688;
		color: #FFC107;
		font-size: 1.8em;
		font-family: Trebuchet MS;
		/*margin-left: 16%;*/
		margin: auto;
		margin-bottom: 20%;
		border-radius: 10px;
		padding: 2% 6% 2% 6%;
	}
	#rubrique1{
		margin-left: 1%;
		color: #FFC107;
		font-size: 1em;
		font-family: Trebuchet MS;
	}
	#rubrique2{
		margin-right: 1%;
		color: #FFC107;
		font-size: 1em;
		font-family: Trebuchet MS;
	}
}
@media screen and (min-width: 420px) and (max-width: 620px){
	#app{
		font-size: 3em;
	}
	.menu{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 7%;
	}
	#menu1{
		background-color: #fcdfdb;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu2{
		background-color: #fff5fe;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu3{
		background-color: #f9f9f9;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu4{
		background-color: #fdfffd;
		width: 80%;
		margin-left: 10%;
	}
	#titre1{
		margin-left: 40%;
		padding-top: 50%;
	}
	#titre2{
		margin-bottom: 9%;
		font-size: 2em;
	}
	#titre3{
		padding-bottom: 43%;
		font-size: 3.1em;
	}
	#titre4{
		padding-top: 57%;
		font-size: 1.8em;
		margin-bottom: 9%;
	}
	#titre5{
		font-size: 2.7em;
		padding-bottom: 55%;
	}
	#titre6{
		font-size: 2.9em;
		font-family: 'Great Vibes';
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre7{
		font-size: 3em;
		padding-bottom: 55%;
	}
	#titre8{
		font-size: 2.5em;
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre9{
		font-size: 3em;
		padding-bottom: 55%;
	}
	.next{
		width: fit-content;
		background-color: #009688;
		color: #FFC107;
		font-size: 2.2em;
		font-family: Trebuchet MS;
		margin: auto;
		margin-bottom: 20%;
		border-radius: 10px;
		padding: 2% 6% 2% 6%;
	}
	#rubrique1{
		margin-left: 1%;
		color: #FFC107;
		font-size: 1.1em;
		font-family: Trebuchet MS;
	}
	#rubrique2{
		margin-right: 1%;
		color: #FFC107;
		font-size: 1.1em;
		font-family: Trebuchet MS;
	}
}
@media screen and (min-width: 620px) and (max-width: 920px){
	#app{
		font-size: 4.8em;
	}
	.menu{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 7%;
	}
	#menu1{
		background-color: #fcdfdb;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu2{
		background-color: #fff5fe;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu3{
		background-color: #f9f9f9;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu4{
		background-color: #fdfffd;
		width: 80%;
		margin-left: 10%;
	}
	#titre1{
		margin-left: 44%;
		padding-top: 50%;
	}
	#titre2{
		margin-bottom: 9%;
		font-size: 3.2em;
	}
	#titre3{
		padding-bottom: 43%;
		font-size: 5em;
	}
	#titre4{
		padding-top: 57%;
		font-size: 3.4em;
		margin-bottom: 9%;
	}
	#titre5{
		font-size: 4.8em;
		padding-bottom: 55%;
	}
	#titre6{
		font-size: 4.9em;
		font-family: 'Great Vibes';
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre7{
		font-size: 5em;
		padding-bottom: 55%;
	}
	#titre8{
		font-size: 4.2em;
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre9{
		font-size: 4.6em;
		padding-bottom: 55%;
	}
	.next{
		width: fit-content;
		background-color: #009688;
		color: #FFC107;
		font-size: 3.6em;
		font-family: Trebuchet MS;
		margin: auto;
		margin-bottom: 20%;
		border-radius: 10px;
		padding: 2% 6% 2% 6%;
	}
	#rubrique1{
		margin-left: 1%;
		color: #FFC107;
		font-size: 1.9em;
		font-family: Trebuchet MS;
	}
	#rubrique2{
		margin-right: 1%;
		color: #FFC107;
		font-size: 1.9em;
		font-family: Trebuchet MS;
	}
}
@media screen and (min-width: 920px) and (max-width: 1023px){
	#app{
		font-size: 4.8em;
	}
	.menu{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 7%;
	}
	#menu1{
		background-color: #fcdfdb;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu2{
		background-color: #fff5fe;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu3{
		background-color: #f9f9f9;
		width: 80%;
		margin-left: 10%;
		margin-bottom: 6%;
	}
	#menu4{
		background-color: #fdfffd;
		width: 80%;
		margin-left: 10%;
	}
	#titre1{
		margin-left: 44%;
		padding-top: 50%;
	}
	#titre2{
		margin-bottom: 9%;
		font-size: 3.2em;
	}
	#titre3{
		padding-bottom: 43%;
		font-size: 5em;
	}
	#titre4{
		padding-top: 57%;
		font-size: 3.4em;
		margin-bottom: 9%;
	}
	#titre5{
		font-size: 4.8em;
		padding-bottom: 55%;
	}
	#titre6{
		font-size: 4.9em;
		font-family: 'Great Vibes';
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre7{
		font-size: 5em;
		padding-bottom: 55%;
	}
	#titre8{
		font-size: 4.2em;
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre9{
		font-size: 4.6em;
		padding-bottom: 55%;
	}
	.next{
		width: fit-content;
		background-color: #009688;
		color: #FFC107;
		font-size: 3.6em;
		font-family: Trebuchet MS;
		margin: auto;
		margin-bottom: 20%;
		border-radius: 10px;
		padding: 2% 6% 2% 6%;
	}
	#rubrique1{
		margin-left: 1%;
		color: #FFC107;
		font-size: 1.9em;
		font-family: Trebuchet MS;
	}
	#rubrique2{
		margin-right: 1%;
		color: #FFC107;
		font-size: 1.9em;
		font-family: Trebuchet MS;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
	#app{
		font-size: 4.7em;
	}
	#titre1{
		margin-left: 40%;
		padding-top: 50%;
	}
	#titre2{
		margin-bottom: 9%;
		font-size: 2em;
	}
	#titre3{
		padding-bottom: 43%;
		font-size: 3.3em;
	}
	#titre4{
		padding-top: 57%;
		font-size: 2.1em;
		margin-bottom: 9%;
	}
	#titre5{
		font-size: 3.3em;
		padding-bottom: 55%;
	}
	#titre6{
		font-size: 3.3em;
		font-family: 'Great Vibes';
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre7{
		font-size: 3.1em;
		padding-bottom: 55%;
	}
	#titre8{
		font-size: 2.7em;
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre9{
		font-size: 3.1em;
		padding-bottom: 55%;
	}
	.next{
		width: fit-content;
		background-color: #009688;
		color: #FFC107;
		font-size: 3.6em;
		font-family: Trebuchet MS;
		margin: auto;
		margin-bottom: 17%;
		border-radius: 10px;
		padding: 2% 6% 2% 6%;
	}
	#rubrique1{
		margin-left: 1%;
		color: #FFC107;
		font-size: 2em;
		font-family: Trebuchet MS;
	}
	#rubrique2{
		margin-right: 1%;
		color: #FFC107;
		font-size: 2em;
		font-family: Trebuchet MS;
	}
}
@media screen and (min-width: 1280px) and (max-width: 1440px){
	
	#app{
		font-size: 4.7em;
	}
	#titre1{
		margin-left: 40%;
		padding-top: 50%;
	}
	#titre2{
		margin-bottom: 9%;
		font-size: 2.8em;
	}
	#titre3{
		padding-bottom: 43%;
		font-size: 4em;
	}
	#titre4{
		padding-top: 57%;
		font-size: 2.7em;
		margin-bottom: 9%;
	}
	#titre5{
		font-size: 4em;
		padding-bottom: 55%;
	}
	#titre6{
		font-size: 4.2em;
		font-family: 'Great Vibes';
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre7{
		font-size: 4em;
		padding-bottom: 55%;
	}
	#titre8{
		font-size: 3.4em;
		padding-top: 57%;
		margin-bottom: 7%;
	}
	#titre9{
		font-size: 4em;
		padding-bottom: 55%;
	}
	.next{
		width: fit-content;
		background-color: #009688;
		color: #FFC107;
		font-size: 3.6em;
		font-family: Trebuchet MS;
		margin: auto;
		margin-bottom: 17%;
		border-radius: 10px;
		padding: 2% 7% 2% 7%;
	}
	#rubrique1{
		margin-left: 1%;
		color: #FFC107;
		font-size: 2.4em;
		font-family: Trebuchet MS;
	}
	#rubrique2{
		margin-right: 1%;
		color: #FFC107;
		font-size: 2.4em;
		font-family: Trebuchet MS;
	}
}